<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener & QR Generator</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">URL Shortener & QR</h1>
        <p class="subtitle">Create short links and QR codes easily.</p>
        <hr>
        {% block content %}{% endblock %}
    </div>
</section>
</body>
</html>
